<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job will clone git repo and validate files for deploying WebApp environment on AWS</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.8">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ljubon/webapp-aws-terraform.git</url>
        <credentialsId>017f661a-bdb3-4127-be8b-0da7ffaa2bc5</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.28.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/ec2-user/
git clone https://github.com/ljubon/webapp-aws-terraform.git
cp terraform.tfvars webapp-aws-terraform/
cd webapp-aws-terraform/
          terraform init
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
      <hudson.tasks.BuildTrigger>
          <childProjects>Stage_2_Deploy_Instaces_WebApp</childProjects>
          <threshold>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
          </threshold>
      </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>