<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy infrastructure if last job was succesfuul&#xd;
* last job (terraform init, terraform validate, terraform plan)&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>Stage_1_setupDeploy_webapp</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/ec2-user/webapp-aws-terraform/
cp /home/ec2-user/.ssh/jenkins* script/
terraform apply
terraform output

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;Importing public IP addreses hosts file...&quot;
sudo echo &quot;$(terraform output public_nat) nat-server nat&quot; &gt;&gt; /etc/hosts
sudo echo &quot;$(terraform output public_web) nat-server nat&quot; &gt;&gt; /etc/hosts
echo &quot;Importing DONE&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd ../ansible/
ansible-playbook web.yaml --sudo</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>