<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
    <description>- terraform apply -&gt; deploy WebApp environment on AWS (web, db, nat)&#xd;
    </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.8">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/ec2-user/webapp-aws-terraform/
terraform apply</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sudo rm -rf /etc/hosts
sudo touch /etc/hosts
sudo chown ec2-user:ec2-user /etc/hosts
          sudo chmod 666 /etc/hosts
      </command>
    </hudson.tasks.Shell>
      <hudson.tasks.Shell>
          <command>sudo echo &quot;127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4&quot;
              &gt;&gt; /etc/hosts
              sudo echo &quot;::1 localhost localhost.localdomain localhost6 localhost6.localdomain6&quot; &gt;&gt;
              /etc/hosts
cd /home/ec2-user/webapp-aws-terraform/
echo &quot;Importing public IP addreses hosts file...&quot;
echo &quot;$(terraform output public_nat) nat-server nat&quot; &gt;&gt; /etc/hosts
echo &quot;$(terraform output public_web) web-server web&quot; &gt;&gt; /etc/hosts
echo &quot;Importing DONE&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
      <hudson.tasks.BuildTrigger>
          <childProjects>Stage_2a_Add_PublicIP</childProjects>
          <threshold>
              <name>SUCCESS</name>
              <ordinal>0</ordinal>
              <color>BLUE</color>
              <completeBuild>true</completeBuild>
          </threshold>
      </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>