<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>- add IP address of Web and NAT to /etc/hosts&#xd;
      - add Web and NAT server to known_hosts&#xd;
  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.8">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo rm -rf /home/ec2-user/.ssh/known_hosts</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sudo ssh-keyscan -H web &gt;&gt; ~/.ssh/known_hosts
          ssh-keyscan -H nat &gt;&gt; ~/.ssh/known_hosts
      </command>
    </hudson.tasks.Shell>
  </builders>
    <publishers>
        <hudson.tasks.BuildTrigger>
            <childProjects>Stage_3_Server_Provisining_web</childProjects>
            <threshold>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
            </threshold>
        </hudson.tasks.BuildTrigger>
    </publishers>
  <buildWrappers/>
</project>